:root {
	--dark_brown: #85583f;
	--brown: #ceae7f;
	--white: #eff1e4;
	--blue: #2ebdbd;
	--dark_blue: #537c8e;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lekton', sans-serif;
    /* font-family: 'Old Standard TT', serif; */
	background-color: var(--white);
	box-sizing: border-box;
	color: #101010;
}
a:link {/* - a normal, unvisited link*/
	color: var(--white);
	text-decoration: none;
}
a:visited {
	color: var(--white);
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

header {
	height: 15vh;
	width: 100%;
	color: var(--dark_brown);
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 10vw;
	height: 100%;
}
header h1 {
	font-family: 'Old Standard TT', serif;
	font-size: 4vw;
}
.links > a {
	color: var(--dark_brown);
	font-weight: bold;
	margin-left: 2vw;
	font-size: 2vw;
}

#welcome{
	background-image: url(maca.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	backface-visibility: var(--dark_brown);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
#welcome > h1 {
	color: var(--brown);
	text-shadow: 5px 5px 5px var(--dark_brown);
	font-family: 'Old Standard TT', serif;
	font-size: 5vw;
}
#welcome > p {
	font-size: 2vw;
	margin-top: 3vh;
	font-weight: bold;
	color: var(--white);
}

.mar {
	margin: 0 10vw;
}

h2 {
	font-family: 'Old Standard TT', serif;
	font-size: 4vw;
	color: var(--dark_brown);
}

#famous {
	width: 100%;
	height: auto;

	text-align: center;
}
#famous img {
	width: 50%;
	transform: translateY(-35%);
}
#famous h2 {
	border-bottom: 2px solid #ceae7f;
}
#famous p {
	color: #101010;
	margin-top: 2vh;
	font-size: 2vw;
	margin-bottom: 20vh;
}
/* #famous:hover .welcome {
	filter: blur(4px);
} */

#catalog {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 20vh;
}
#catalog h2 {
	margin-top: 20vh;
	border-bottom: 2px solid #ceae7f;
}
.sweet_gen {
	width: 30%;
	margin: 5vh 1vw;
	/* box-shadow: 2px 2px 20px var(--brown); */
	margin-top: 5vh;
	display: inline-block;
	border-radius: 20px;
}
.sweet_gen img {
	width: 100%;
}
#catalog h3 {
	font-family: 'Old Standard TT', serif;
	font-size: 2vw;
	color: var(--dark_brown);
	margin-top: 2vh;
}
#catalog p {
	font-size: 2vw;
	margin-bottom: 2vh;
}

.enjoy {
	width: 100%;
	height: 95vh;
	border-top: 2px solid var(--brown);
	background-image: url(enjoy-blur.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.enjoy h1 {
	font-family: 'Old Standard TT', serif;
	font-size: 6vw;
	color: var(--brown);
	text-shadow: 5px 5px 5px var(--dark_brown);
}
.enjoy p {
	font-size: 3vw;
}

#review {
	width: 100%;
	height: auto;

	display: flex;
	align-items: center;
	text-align: center;
}
.quote {
	width: 32%;
	display: inline-block;
	text-align: center;
	margin: 10vh 0 20vh 0;
}
#review h2 {
	margin-top: 20vh;
}
#review img {
	transform: rotate(180deg);
	width: 5vw;
}
#review p {
	color: var(--dark_brown);
	font-size: 2vw;
	margin-bottom: 3vh;
}
#review span {
	font-size: 2vw;
	font-family: 'Old Standard TT'
}
